/* Responsive */
@media (min-width: 800px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
    justify-content: flex-end;
  }
  .menu a {
    margin: 0 1rem;
    font-size: 1.25rem;
    color: #fff;
  }
}

@media (min-width: 800px) {
  .layout {
    padding: 1rem 1.5rem;
  }
}
